  :root {
      color-scheme: light dark;
  }

  body {
      padding: 64px 0 0 0;
      display: flex;
      font-family: sans-serif;
      flex-direction: column;
      align-items: center;
      color: light-dark(black, white);
      background-color: light-dark(white, #111);
  }

  div {
      width: 240px;
  }

  img {
      width: 120px;
      margin-bottom: 16px;
  }

  h1 {
      font-weight: normal;
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  }

  input {
      padding: 8px;
      margin-bottom: 8px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      width: 100%;
  }

  button {
      padding: 10px 20px;
      margin-top: 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #007bff;
      color: light-dark(white, black);
  }
