[Unit]
After=network.target

[Service]
Type=simple
User=reacthome
WorkingDirectory=/home/reacthome
ExecStart=/home/reacthome/reacthome-assist
Restart=on-failure

[Install]
WantedBy=multi-user.target
